body {
  background-color: Azure;
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
  cursor: pointer;

}



h3 {
  padding: 0.5rem;
}

.brand button {
  font-size: 2rem;
  padding: .5rem;
  background: none;

  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition-duration: .5s;
  transform: translateX(-30rem);
  width: 15rem;
  background-color: lightgray;
  height: 100%;

}
.sidebar a:hover {
  color: #f1f1f1 ;
}

.sidebar.open {
  transform: translateX(0);


}

.sidebar-close-button {
  border-radius: 50%;
  border: .1rem black solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'oter';
   

  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;


}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  align-items: center;
  padding: 0.5rem;
}

.grid-main {
  background-color: none;
  margin: 0.8rem;
  display: grid;
  grid-gap: 20px;



  grid-template-columns: 1fr 1fr ;
  padding: 0.5rem;
}

.grid-oter {
  color: bisque;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin:10rem;
  
}

.box {
  background-color: none;
  padding: 20px;
  /* margin: 20px; */
}

.box1 {
  background-color: BlanchedAlmond;
  padding: 20px;
 
  
}

.box2 {
  padding: 50px;
  text-align: center;
  font-size: 15px;
}

/* header>ul::after{
  content:"";
  display:block;
  clear:both;
}  */
ul {
  list-style-type: none;

}

header>ul>li {
  margin: 0px;
  position: relative;
  float: left;
}

header ul li:hover .submenu {
 
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
 
}
.submenu {
  display: none;
  list-style-type: none;
}
.submenu li:hover{
  background-color: white;
  font-weight: 700;
  color:#203040;
  
}

/* the arrow */
.submenu::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 1.5rem;
  width: 0.5rem;
  height: 1.5rem;
  background-color: white;
  transform: rotate(45deg);
  /* clear:both; */

}

.submenu li {

  border-bottom: 1px solid #ccc;
  color: black;
  background-color: white;
  padding: 15px 30px;
  width: 100px;

}

.submenu>li>a {
  text-decoration: none;
  color: black
}

a{
  text-decoration: none;
  color: black
}



@supports (display: flex) {
  @media screen and (max-width: 300px) and (max-height:300px) {
   body {
      display: 1fr ;
    }

  }
}



img {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  object-fit: cover;


}

.avatar-profile {
  position: fixed;
  top: 0px;
  right: 1rem;
}


/* #avatar_submenu{
  
  display: none;
  list-style-type: none;
} */



p {
  font-size: 20px;
}
p:hover{
  
  font-weight: 700;
  color:#203040;
}
/* login css*/

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: darkgray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  object-fit: cover;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}